* {
    font-family: 'Lato', sans-serif;
}

/* Repository styles */
/* ----------------------------------------------------------*/
.home .repository {
    float: left;
    padding: 12px 20px;
    height: 350px;
}
@media(max-width: 400px) {
    .home .repository {
        height: auto;
        padding: 12px 0px;
    }
}
.home .repository .repository-inner {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px 30px;
    padding-bottom: 82px;
    background-color: rgba(255, 255, 255, 0.71);
}
.home .repository .repo-holder .repo-star-fork{
    font-size: 18px;
    margin-bottom: 15px;
}
.home .repository .repo-holder .repo-star-fork .octicon{
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
}
.home .repository .repo-holder .repo-star-fork .octicon-git-branch{
    margin-left: 15px;
}
.home .repository .repo-title {
    font-size: 26px;
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 900;
}
.home .repository .repo-title a {
    color: rgb(0, 36,55);
    text-decoration: none;
}
.home .user .repository .repo-lang {
    font-size: 14px;
    color: grey;
    margin-top: -7px;
    margin-bottom: 20px;
}

.home .repository-inner .repo-desc {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 15px;
    max-height: 57px;
    overflow: hidden;
}
@media(max-width: 400px) {
    .home .repository .repository-inner {
        padding: 20px 20px;
    }
    .home .repository .repo-holder {
        margin-bottom: 100px;
    }
    .home .repository-inner .repo-desc {
        max-height: 1500px;
        overflow: visible;
    }
}

/* User styles */
/* ----------------------------------------------------------*/
.home .profile {
    width: 86%;
    left: 50%;
    margin-left: -43%;
    position: absolute;
    height: 77px;
    min-height: 77px;
    bottom: 10px;
    right: 0px;
    text-transform: lowercase;
}

.home .profile .thumbnail-dev {
    width: 100%;
    background-color: none;
}
.home .profile .thumbnail-dev .repo-owner {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}
.home .profile .thumbnail-dev img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}
.home .profile .thumbnail-dev a {
    font-size: 12px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.home .profile .thumbnail-dev .contributors{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.home .profile .thumbnail-dev .contributors img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40px;
    max-height: 40px;
}
